In [17]:
import pandas as pd
import numpy as np

data = pd.read_csv("healthcare-dataset-stroke-data.csv")

In [19]:
data.sample(6)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
3991,6019,Female,57.0,0,0,Yes,Private,Urban,82.62,28.4,never smoked,0
3404,22194,Female,36.0,0,0,Yes,Private,Urban,96.70,31.4,Unknown,0
4703,8037,Male,44.0,0,1,No,Govt_job,Urban,94.62,34.4,Unknown,0
2790,2707,Male,10.0,0,0,No,children,Rural,68.94,18.0,Unknown,0
370,28286,Male,44.0,0,0,Yes,Private,Rural,74.91,37.5,never smoked,0
2745,25248,Male,19.0,0,0,No,Private,Rural,79.82,26.1,Unknown,0

In [21]:
data['gender'] = data['gender'].map({'Female': 0, 'Male': 1})
data.sample(5)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
1849,72108,1.0,8.0,0,0,No,children,Rural,56.30,18.0,Unknown,0
3679,18181,1.0,44.0,0,0,Yes,Private,Rural,105.49,31.5,smokes,0
4393,63804,0.0,27.0,0,0,No,Private,Rural,55.93,20.3,smokes,0
1882,38488,0.0,30.0,0,0,Yes,Private,Urban,67.78,29.2,smokes,0
3169,10523,1.0,56.0,0,0,Yes,Private,Urban,78.93,31.1,Unknown,0

In [23]:
data['ever_married'] = data['ever_married'].map({'No': 0, 'Yes': 1})
data.sample(5)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
3282,30870,1.0,9.0,0,0,0,children,Urban,93.24,31.9,Unknown,0
3739,67499,1.0,10.0,0,0,0,children,Rural,117.03,21.1,never smoked,0
2527,52593,1.0,78.0,0,1,1,Private,Urban,145.03,26.8,formerly smoked,0
3910,36548,1.0,31.0,0,0,1,Govt_job,Urban,65.70,30.4,formerly smoked,0
961,16402,0.0,5.0,0,0,0,children,Urban,93.07,19.1,Unknown,0

In [25]:
data['smoking_status'] = data['smoking_status'].map({'never smoked': 1, 'formerly smoked': 2, 'smokes': 3, 'Unknown': 0})
data.sample(5)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
96,35512,0.0,70.0,0,0,1,Self-employed,Rural,76.34,24.4,2,1
808,21397,0.0,40.0,0,0,1,Govt_job,Urban,122.74,23.3,0,0
4907,39708,1.0,55.0,0,0,1,Private,Rural,56.87,28.9,2,0
1526,19389,0.0,42.0,0,1,1,Govt_job,Urban,226.93,34.2,3,0
214,2548,0.0,81.0,0,0,1,Self-employed,Urban,95.84,21.5,1,1

In [31]:
data['work_type'] = data['work_type'].map({
    'Private': 0, 
    'Self-employed': 1, 
    'Govt_job': 2, 
    'children': 3, 
    'Never_worked': 4
})
data.sample(5)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
3236,22896,0.0,54.0,0,0,1,0,Rural,109.27,43.8,2,0
5035,49773,0.0,78.0,0,0,1,0,Urban,203.36,28.7,2,0
65,17013,1.0,78.0,1,0,0,0,Urban,113.01,24.0,1,1
4823,7218,0.0,79.0,0,0,1,0,Rural,214.73,30.9,1,0
1564,3178,0.0,25.0,0,0,1,0,Rural,68.78,55.1,2,0

In [35]:
print(data['Residence_type'].unique())

['Urban' 'Rural']

In [37]:
data['Residence_type'] = data['Residence_type'].map({'Urban':1,'Rural':0})
data.sample(5)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
243,40460,0.0,68.0,1,1,1,0,1,247.51,40.5,2,1
1771,64412,0.0,47.0,0,0,1,0,1,56.67,24.4,1,0
3500,50216,1.0,44.0,1,0,1,1,0,188.13,44.7,2,0
647,7291,0.0,58.0,0,0,0,0,1,82.01,34.7,2,0
2183,32252,0.0,19.0,0,0,0,0,0,72.52,32.0,0,0

In [86]:
data1 =  data.drop('id', axis=1)
X = data1.drop('stroke',axis=1)
y = data['stroke']

In [88]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("X_train: ",X_train.shape )
print("Y_train: ",y_train.shape )
print("X_test: ",X_test.shape )
print("Y_test: ",y_test.shape )

X_train:  (3926, 10)
Y_train:  (3926,)
X_test:  (982, 10)
Y_test:  (982,)

In [90]:
X_train.sample(6)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
2826,0.0,78.0,0,0,1,1,0,81.68,23.0,0
3213,1.0,78.0,0,1,1,1,1,87.77,30.8,0
766,0.0,31.0,0,0,0,0,0,91.08,34.3,1
664,1.0,56.0,0,0,1,0,0,81.18,26.9,1
3032,1.0,52.0,0,0,1,0,1,87.51,30.5,2
4396,0.0,38.0,0,0,1,0,0,83.80,24.2,3

In [92]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [94]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
X_train_pca = pca.fit_transform(X_train_scaled)
X_test_pca = pca.transform(X_test_scaled)

In [96]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.regularizers import l2
from tensorflow.keras.layers import BatchNormalization

In [100]:
model = Sequential()

# Adjust the input_dim to 2 (or whatever number of features X_train_pca has)
model.add(Dense(64, input_dim=X_train_pca.shape[1], activation='relu', kernel_regularizer=l2(0.01)))
model.add(BatchNormalization())  
model.add(Dropout(0.5))
model.add(Dense(32, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(16, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(8, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(1, activation='sigmoid'))  # Sigmoid activation for binary classification

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Fit the model
history = model.fit(X_train_pca, y_train, epochs=50, batch_size=16, validation_data=(X_test_pca, y_test))

# Evaluate the model
loss, accuracy = model.evaluate(X_test_pca, y_test)
print(f"Test Accuracy: {accuracy*100:.2f}%")

C:\Users\DELL\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Epoch 1/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 11s 10ms/step - accuracy: 0.7537 - loss: 0.6029 - val_accuracy: 0.9460 - val_loss: 0.2608
Epoch 2/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.9451 - loss: 0.3210 - val_accuracy: 0.9460 - val_loss: 0.2087
Epoch 3/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.9593 - loss: 0.2726 - val_accuracy: 0.9460 - val_loss: 0.2023
Epoch 4/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.9649 - loss: 0.2195 - val_accuracy: 0.9460 - val_loss: 0.2007
Epoch 5/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.9602 - loss: 0.2202 - val_accuracy: 0.9460 - val_loss: 0.1969
Epoch 6/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - accuracy: 0.9643 - loss: 0.2124 - val_accuracy: 0.9460 - val_loss: 0.1989
Epoch 7/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - accuracy: 0.9597 - loss: 0.2102 - val_accuracy: 0.9460 - val_loss: 0.1926
Epoch 8/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.9549 - loss: 0.2361 - val_accuracy: 0.9460 - val_loss: 0.1906
Epoch 9/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.9608 - loss: 0.1910 - val_accuracy: 0.9460 - val_loss: 0.1896
Epoch 10/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.9660 - loss: 0.1709 - val_accuracy: 0.9460 - val_loss: 0.1884
Epoch 11/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - accuracy: 0.9615 - loss: 0.1866 - val_accuracy: 0.9460 - val_loss: 0.1869
Epoch 12/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - accuracy: 0.9549 - loss: 0.1872 - val_accuracy: 0.9460 - val_loss: 0.1866
Epoch 13/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - accuracy: 0.9623 - loss: 0.1612 - val_accuracy: 0.9460 - val_loss: 0.1867
Epoch 14/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - accuracy: 0.9602 - loss: 0.1756 - val_accuracy: 0.9460 - val_loss: 0.1872
Epoch 15/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.9590 - loss: 0.1765 - val_accuracy: 0.9460 - val_loss: 0.1882
Epoch 16/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.9624 - loss: 0.1594 - val_accuracy: 0.9460 - val_loss: 0.1864
Epoch 17/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.9640 - loss: 0.1508 - val_accuracy: 0.9460 - val_loss: 0.1865
Epoch 18/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.9628 - loss: 0.1564 - val_accuracy: 0.9460 - val_loss: 0.1873
Epoch 19/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.9621 - loss: 0.1562 - val_accuracy: 0.9460 - val_loss: 0.1867
Epoch 20/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.9615 - loss: 0.1636 - val_accuracy: 0.9460 - val_loss: 0.1863
Epoch 21/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.9586 - loss: 0.1596 - val_accuracy: 0.9460 - val_loss: 0.1871
Epoch 22/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 10ms/step - accuracy: 0.9569 - loss: 0.1738 - val_accuracy: 0.9460 - val_loss: 0.1860
Epoch 23/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.9636 - loss: 0.1543 - val_accuracy: 0.9460 - val_loss: 0.1880
Epoch 24/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.9707 - loss: 0.1290 - val_accuracy: 0.9460 - val_loss: 0.1860
Epoch 25/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.9639 - loss: 0.1564 - val_accuracy: 0.9460 - val_loss: 0.1871
Epoch 26/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.9662 - loss: 0.1426 - val_accuracy: 0.9460 - val_loss: 0.1863
Epoch 27/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.9592 - loss: 0.1720 - val_accuracy: 0.9460 - val_loss: 0.1864
Epoch 28/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.9627 - loss: 0.1543 - val_accuracy: 0.9460 - val_loss: 0.1864
Epoch 29/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.9575 - loss: 0.1672 - val_accuracy: 0.9460 - val_loss: 0.1863
Epoch 30/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.9660 - loss: 0.1411 - val_accuracy: 0.9460 - val_loss: 0.1857
Epoch 31/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.9610 - loss: 0.1555 - val_accuracy: 0.9460 - val_loss: 0.1849
Epoch 32/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.9580 - loss: 0.1658 - val_accuracy: 0.9460 - val_loss: 0.1853
Epoch 33/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.9638 - loss: 0.1464 - val_accuracy: 0.9460 - val_loss: 0.1853
Epoch 34/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.9626 - loss: 0.1482 - val_accuracy: 0.9460 - val_loss: 0.1854
Epoch 35/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - accuracy: 0.9623 - loss: 0.1513 - val_accuracy: 0.9460 - val_loss: 0.1867
Epoch 36/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.9597 - loss: 0.1576 - val_accuracy: 0.9460 - val_loss: 0.1866
Epoch 37/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.9661 - loss: 0.1387 - val_accuracy: 0.9460 - val_loss: 0.1868
Epoch 38/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.9588 - loss: 0.1623 - val_accuracy: 0.9460 - val_loss: 0.1862
Epoch 39/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.9611 - loss: 0.1566 - val_accuracy: 0.9460 - val_loss: 0.1849
Epoch 40/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.9580 - loss: 0.1592 - val_accuracy: 0.9460 - val_loss: 0.1863
Epoch 41/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.9643 - loss: 0.1476 - val_accuracy: 0.9460 - val_loss: 0.1875
Epoch 42/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.9591 - loss: 0.1663 - val_accuracy: 0.9460 - val_loss: 0.1857
Epoch 43/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.9573 - loss: 0.1622 - val_accuracy: 0.9460 - val_loss: 0.1857
Epoch 44/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - accuracy: 0.9624 - loss: 0.1478 - val_accuracy: 0.9460 - val_loss: 0.1849
Epoch 45/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.9609 - loss: 0.1503 - val_accuracy: 0.9460 - val_loss: 0.1854
Epoch 46/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.9604 - loss: 0.1579 - val_accuracy: 0.9460 - val_loss: 0.1856
Epoch 47/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.9589 - loss: 0.1590 - val_accuracy: 0.9460 - val_loss: 0.1862
Epoch 48/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - accuracy: 0.9596 - loss: 0.1575 - val_accuracy: 0.9460 - val_loss: 0.1860
Epoch 49/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.9605 - loss: 0.1514 - val_accuracy: 0.9460 - val_loss: 0.1873
Epoch 50/50
246/246 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.9607 - loss: 0.1569 - val_accuracy: 0.9460 - val_loss: 0.1860
31/31 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.9467 - loss: 0.1783
Test Accuracy: 94.60%